<script src="./app/models/addFriend.js"></script>
<div class="container-fluid">
  {{#if logged}}
    <div class="col-md-3" style="float:left">
      <!--danh sach ban be-->
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Friends</li>

        {{#each friendList}}
          <a href="#" class="list-group-item">          {{this}}
      <span class="label label-success" style="float:right">1</span></a>
        {{/each}}

      </ul>

    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3" style="float:right">

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Other Users</li>

        {{#each allUser}}
          <li class="list-group-item">
            <div> {{this}}</div>
            <div class="btn-group-sm" style="float:right">
              <button type="button" class="btn btn-primary" id="add{{this}}" onclick="addFriend(this,'{{this}}')">Add Friend</button>
            </div>
          </li>

        {{/each}}

      </ul>
    </div>
  {{else}}
    <h1>{{message}}</h1>
  {{/if}}
</div>
