<link rel="stylesheet" href="/app/views/partials/chatbox.css">
<link rel="stylesheet" href="/app/views/partials/listgroup.css">

<script src="./app/views/message/chatbox.js"></script>
<script src="./app/models/addFriend.js"></script>


</script>
<div class="container-fluid">
  {{#if logged}}
    <div class="col-md-3" style="float:left">
      <!--danh sach ban be-->
      <div class="panel panel-warning">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Friends</li>
          {{#each friendList}}
            <a href="#" class="list-group-item" onmouseover="showRemoveButton('{{this}}')" onmouseout="hideRemoveButton('{{this}}')">          {{this}}
      <span class="label label-success" style="float:right">1</span>
      <button class="btn btn-success btn-sm" type="button"  onclick="addFriend2(this,'{{this}}')" id="add{{this}}" style="float:right;display:none;margin-right:10px">Add</button>
      <button class="btn btn-danger btn-sm" type="button"  onclick="remFriend2(this,'{{this}}')" id="rem{{this}}" style="float:right; display:none;margin-right:10px">Remove</button>
</a>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chat_window">
        <div class="top_menu">
          <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
          </div>
          <div class="title">Chat</div>
        </div>
        <ul class="messages"></ul>
        <div class="bottom_wrapper clearfix">
          <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
          <div class="send_message">
            <div class="icon"></div>
            <div class="text">Send</div>
          </div>
        </div>
      </div>
      <div class="message_template">
        <li class="message">
          <div class="avatar"></div>
          <div class="text_wrapper">
            <div class="text"></div>
          </div>
        </li>
      </div>
    </div>



    <div class="col-md-3" style="float:right">

        <ul class="list-group">
          <li class="list-group-item list-group-item-success">Other Users</li>
          {{#each allUser}}
            <li class="list-group-item" >
              {{this}}<button  class="btn btn-success btn-sm" type="button"  onclick="addFriend(this,'{{this}}')" id="add{{this}}" style="float:right;margin-right:5px">Add</button>
              <button  class="btn btn-danger btn-sm" type="button"  onclick="remFriend(this,'{{this}}')" id="rem{{this}}" style="float:right; display:none;margin-right:5px">Remove</button>
            </li>
          {{/each}}
        </ul>


    </div>
  {{else}}
    <h1>{{message}}</h1>
  {{/if}}
